<div class="relative h-full w-full overflow-hidden touch-none">
  <div #albumContainer class="w-full h-full" (mousewheel)="onMouseWheel($event)" (pointerdown)="onPointerDown($event)">
    <ng-container #pageContainer></ng-container>
  </div>
  @if (marqueeOpen) {
    <div class="absolute top-0 left-0 h-full w-full overflow-hidden" (click)="this.marqueeOpen = false">
      <div class="absolute top-0 left-0 h-full w-full backdrop-blur-sm" >
      </div>
      <div class="h-full w-full p-4 xl:p-8">
        <app-marquee [pics]="pictures"></app-marquee>
      </div>
    </div>
  }
</div>