@import './tailwind-theme.css';

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Libre Baskerville';
}

body {
  margin: 0;
  position: absolute;
  inset: 0;
}

html, body { height: 100%; }

body { margin: 0; }

button {
  @apply py-1 px-2 bg-accentGreen-500 text-periwinkle-500 font-august-roma tracking-wide uppercase text-sm;

  &.danger {
    @apply bg-red-700;
  }
}