@import 'tailwindcss';

@theme {
  --color-periwinkle-500: #caccff;
  --color-green-500: #12b56a;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  position: absolute;
  inset: 0;
}

html, body { height: 100%; }

body { margin: 0; }