<!-- <div class="self-center text-right relative"> -->
  <!-- <div class="p-1 px-2 bg-orange-300 rounded-lg">
    <span class="text-xs uppercase font-default text-accentGreen-500"><i class="fa fa-image text-xl relative pr-2 translate-y-0.5"></i>add</span>
  </div> -->
  <span class="text-xs uppercase font-default text-eggplant-500"><i class="fa fa-image text-xl relative pr-2 translate-y-0.5" (click)="onUpload()"></i>add</span>
  <!-- <i class="fa fa-plus absolute text-xs -top-0.5 -right-1 text-orange-500"></i> -->
<!-- </div> -->